@model PlateViewModel

<h1>Create New plate</h1>
<div class="row">
    <div class="col-md-5">
        <form asp-controller="Plates" asp-action="Create" method="post">

            <partial name="_Form" model="Model" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back To List</a>
</div>