@model IEnumerable<MenuViewModel>    

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Type menu</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var menu in Model)
        {
        <tr>
            <td>@menu.NameMenu</td>
            <td>
                <a type="button" value="Index" asp-controller="Plates" asp-action="Index" asp-route-id="@menu.Id" class="btn btn-info"><i class="fa fa-eye"></i></a>
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Total</th>
            <th> @Model.Count() </th>
            <th></th>
        </tr>
    </tfoot>
</table>

@if (User.IsInRole("Restorer")) {
<button type="button" class="btn btn-outline-primary">
    <a asp-controller="Menu" asp-action="Create">New Menu</a>
</button>
}
